

:is(.markdown-preview-view,.markdown-rendered) h1 {
    font-size: var(--h1-size);
    line-height: 1.2;
    padding-bottom: 1px;
    font-family: var(--font-family-h1);
    color: var(--h1-color);
    font-weight: var(--font-weight-h1);
}
:is(.markdown-preview-view,.markdown-rendered) h4 {
    font-size: var(--h4-size);
    font-family: var(--font-family-h4);
    color: var(--h4-color);
    font-weight: var(--font-weight-h4);
    line-height: 1.2;
  }
